.logo {
  padding: 40px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 85px;
}
.logo-container .logo-titulo {
  font-size: 4rem;
}
.logo-container .logo-titulo::before {
  content: "";
  display: block;
  width: 130px;
  height: 130px;
  background-image: url(/img/detalhe.svg);
  position: relative;
  top: 90px;
  left: -30px;
  z-index: -1;
}
.logo-container .local {
  font-size: 1.5rem;
  color: #525252;
  margin-top: 2rem;
}
@media (max-width: 1000px) {
  .logo-container .logo-titulo {
    font-size: 3rem;
  }
}
@media (max-width: 800px) {
  .logo {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  .logo-container .logo-titulo {
    font-size: 1.5rem;
  }
  .logo-container .logo-titulo::before {
    content: "";
    display: block;
    height: 20px;
    background-image: url(/img/detalhe\ mobile.svg);
    background-repeat: no-repeat;
    position: relative;
    top: -8px;
    left: 10px;
  }
}
@media (max-width: 400px) {
  .logo img {
    display: none;
  }
  .logo {
    grid-template-columns: 1fr;
  }
}
